# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=backend_development
DB_PORT_BINDING=5433:5432

# Rails Configuration
RAILS_ENV=development
SECRET_KEY_BASE=
BACKEND_PORT_BINDING=3000:3000
ALLOWED_HOSTS=pix.warley.xyz,localhost,127.0.0.1
